* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body > h1 {
    text-align: center;
    font-size: 175%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container {
    position: relative;
    margin: 0px 20px;
}

.row {
    width: 100%;
}

.my-box > article {
    position: relative;
    border: 1px solid black;
    background-color: lightgray;
    margin: 10px;
}

.my-box > article > h2 {
    position: absolute;
    top: 0px;
    right: -1px;
    border: 1px solid black;
    padding: 3px 20px;
    font-size: 125%;
}

.my-box > article > p {
    margin-top: 3em;
    padding: 5px;
    min-height: 450px;
}

.my-box:nth-child(1) > article > h2 {
    background-color: lightcoral;
}

.my-box:nth-child(2) > article > h2 {
    background-color: lightsalmon;
}

.my-box:nth-child(3) > article > h2 {
    background-color: lightyellow;
}

@media (max-width: 767px) {
    .my-sm-col-12 {
        float: left;
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .my-md-col-6 {
        float: left;
        width: 50%;
    }
    .my-md-col-12 {
        float: left;
        width: 100%;
    }
}

@media (min-width: 992px) {
    .my-lg-col-4 {
        float: left;
        width: 33.33%;
    }
}
